*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Shared Style */

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
    
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading{
    /* border: 3px solid green; */
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;  
    color: #181818; 
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;

}
/* Main Style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
    
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}
#banner .banner-content{
    max-width: 585px;
}
#banner{
    /* border: 2px solid blue; */
    display: flex;
    margin: 47px 38px 0 230px;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;   
    vertical-align: middle;  /*ekdom niche boshai dawar jonno*/

}

/* About part ta shuru */
#about{
    /* border: 2px solid red; */
    padding-top: 130px;
   
}
#about .about-container{
    /* border: 2px solid blue; */
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #474747;
}
/* What I do part try kortesi */
.ido{
    border: 2px solid red;
    padding-top: 130px;
    /* background-color: aqua; */
    
}
.do-container{
    /* border: 2px solid blue; */
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 156px 131px 156px;
    /* text-align: center; */
    
}
.do-container .card-stuff{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 24px;
}
.do-container .card-stuff .skill-card{
    max-width: 267px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #E8E8E8;
    opacity: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 33px;
}
.do-container .card-stuff .skill-card img{
    margin-bottom: 30px;   
}
.do-container .card-stuff .skill-card h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.do-container .card-stuff .skill-card p{
    font-size: 16px;
    line-height: 28px;
}